{% extends "global/Page.html" %}
{% block content %}

<h3>End of series</h3>
<p>
    You have just observed 36 cases of individuals that, following the advice of broker B, bought a bundle
    of stocks and later sold it. Before we move on to the next part of the experiment, we would like your
    assessment of the goodness of advice given by broker B. In particular, please use the scale below to
    rate whether following the advice of broker B is likely to lead to a gain or a loss.
</p>

<p>Note: You will be awarded a bonus whose size depends on the accuracy of your answer.</p>

<p>
    Think of the ratio of selling price to buying price; that is, the ratio between what the person got after selling the
    bundle of stocks and what the person paid to buy it. Now, in your opinion, which of the following seven
    statements best describes, overall, the outcome of the investments made following the advice of broker B:
</p>

<form method="post">
    {{ formfield_errors 'estimate_B' }}
    <table class="choice-table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Outcome</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="radio-col"><input type="radio" name="estimate_B" value="1"></td>
                <td>A large gain</td>
                <td>Selling price was higher than buying price, with the ratio of selling to buying being more than 1.25</td>
            </tr>
            <tr>
                <td class="radio-col"><input type="radio" name="estimate_B" value="2"></td>
                <td>A medium gain</td>
                <td>Selling price was higher than buying price, with the ratio of selling to buying being more than 1.15 but less than 1.25</td>
            </tr>
            <tr>
                <td class="radio-col"><input type="radio" name="estimate_B" value="3"></td>
                <td>A small gain</td>
                <td>Selling price was higher than buying price, with the ratio of selling to buying being more than 1.05 but less than 1.15</td>
            </tr>
            <tr>
                <td class="radio-col"><input type="radio" name="estimate_B" value="4"></td>
                <td>Hardly a difference</td>
                <td>The ratio of selling price to buying price was between 0.95 and 1.05</td>
            </tr>
            <tr>
                <td class="radio-col"><input type="radio" name="estimate_B" value="5"></td>
                <td>A small loss</td>
                <td>Selling price was lower than buying price, with the ratio of selling to buying being less than 0.95 but more than 0.85</td>
            </tr>
            <tr>
                <td class="radio-col"><input type="radio" name="estimate_B" value="6"></td>
                <td>A medium loss</td>
                <td>Selling price was lower than buying price, with the ratio of selling to buying being less than 0.85 but more than 0.75</td>
            </tr>
            <tr>
                <td class="radio-col"><input type="radio" name="estimate_B" value="7"></td>
                <td>A large loss</td>
                <td>Selling price was lower than buying price, with the ratio of selling to buying being less than 0.75</td>
            </tr>
        </tbody>
    </table>

    <br>
    <button class="btn btn-primary">Next</button>
</form>

{% endblock %}
