{% extends 'global/Page.html' %}

{% block title %}Experiment Instructions{% endblock %}

{% block content %}
<div style="font-family: Arial, sans-serif; line-height: 1.6; font-size: 16px;">
    <p>Let's now look at two people who both lost $1,000, but following different investments:</p>


    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;(3) Person C invested $5,000 and ended up with $4,000.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;(4) Person D invested $50,000 and ended up with $49,000.
    </p>    

    <p>Even though they both lost $1,000, their failure was not the same.</p>

    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;(3) Person C lost $1,000 out of $5,000 — that's a 20% loss.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;(4) Person D lost $1,000 out of $50,000 — that's only a 2% loss.
    </p>
    <p>    
        So, Person C's loss was much bigger relative to their investment. That means that Person C made a much
        worse investment compared to Person D, even though the dollar loss was the same.
    </p>    

</div> 

<div class="text-center mt-4">
    <button class="btn btn-primary" type="submit">Continue</button>
</div>
{% endblock %}
