{% extends 'global/Page.html' %}

{% block title %}Description of the experiment{% endblock %}

{% block content %}

<p>
  This study examines how people combine information in their attempt to decide whether or not advisors
  provide good advice, or products are profitable. You will be shown information cards, each representing a
  single case. On each card you will see an amount of investment a person made following the advice given by a
  broker, and the outcome that resulted from that investment.
</p>   

<p>
  Your task is to compare investments and their outcomes in order to consider whether you would recommend
  following the advice of each of the brokers. Specifically, after observing 36 cards, we shall ask for your
  assessment of the profitability of investing in line with the broker’s advice.
</p>

<p>
  All in all, you will be shown a total of 72 cases, in two lists of 36 pairs, with each list showing the results
  investments based on the advice for one of two brokers. After the second list we shall also ask for your
  assessment of which broker you would rather follow. In this assessment you can earn an extra bonus using
  some extra money we shall give you for that decision.
</p>

<p>
  Please pay close attention to each of the cases. From time to time, we shall ask you whether the amount
  invested or the amount obtained in the most recent transaction exceeds a certain value. If you answer this
  question incorrectly two times, we shall void your participation in the study.
</p>    

<div class="text-center mt-4">
    <button class="btn btn-primary" type="submit">Continue</button>
</div>

{{ endblock }}