{% extends 'global/Page.html' %}

{% block title %}Experiment Instructions{% endblock %}

{% block content %}
<p>The task will take about 15 minutes, and you will be paid 2.50 GBP plus a small bonus for your participation.</p>
<p>Devices you can use to take this study:</p>

<ul>
  <li>Desktop</li>
  <li>Mobile</li>
  <li>Tablet</li>
</ul>

    <p>
      It is important to pay close attention to the values shown on each card. Occasionally,
      the presentation will pause, and you will be asked about the card you have just seen.
      If you answer incorrectly twice, your submission will be voided.
    </p>
  
    <p><strong>Please don't forget to submit the HIT with a valid completion code</strong></p>
    <p style="font-style: italic;">&gt;&gt; <em>we won't be able to pay you otherwise</em></p>
  
    <p>
      By clicking 'Agree' you affirm that you're ready and willing to start the study.
    </p>

    <p>
      Should you choose not to agree, click 'Don't Agree' to be directed out of the experiment.
    </p>

</div> 

<form method="post">
    <input type="hidden" name="error_count" value="0">  <!-- Agree: error_count = 0 -->
    <button class="btn btn-primary" type="submit">Agree</button>
</form>

<form method="post" style="margin-top: 20px;">  <!-- Added margin-top to the second form -->
    <input type="hidden" name="error_count" value="100">  <!-- Disagree: error_count = 100 -->
    <button class="btn btn-danger" type="submit">Don't Agree</button>
</form>

{{ endblock }}